<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.rn_react_nav">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="sdk.pendo.io.activities.PendoGateActivity" android:launchMode="singleInstance">
        <intent-filter>
          <action android:name="android.intent.action.VIEW"/>
          <category android:name="android.intent.category.DEFAULT"/>
          <category android:name="android.intent.category.BROWSABLE"/>
          <data android:scheme="pendo-e462ad1b"/>
        </intent-filter>
      </activity>

<!--        <meta-data android:name="pnd_device_url" android:value="https://app.pendo-mobile-hummus.pendo-dev.com" />-->
<!--        <meta-data android:name="pnd_app_url" android:value="https://app.pendo-mobile-hummus.pendo-dev.com" />-->
<!--        <meta-data android:name="pnd_data_url" android:value="https://app.pendo-mobile-hummus.pendo-dev.com" />-->

    </application>
</manifest>
